# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

env/
venv/
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Database files
*.db

# Virtual environment
.env

# Notebook outputs
*.swp
